{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <h1>{{ post.content }}</h1>
  <p>{{ post.author }}</p>
  <p>{{ post.created_at }}</p>

  <h3>Images</h3>
  {% for image in post.images.all %}
    <img src="{{ image.image.url }}" alt="post image">
  {% endfor %}

  {% if user.is_authenticated %}
    <form method="post" action="{% url 'feed:toggle-reaction' pk=post.pk reaction='like' %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-outline-primary">Like</button>
    </form>
    <form method="post" action="{% url 'feed:toggle-reaction' pk=post.pk reaction='dislike' %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-outline-danger">Dislike</button>
    </form>
    <form method="post" action="{% url 'feed:toggle-repost' pk=post.pk %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-outline-secondary">Repost</button>
    </form>
  {% endif %}
  <p>Likes: {{ post.likes_count }} <br> Dislikes: {{ post.dislikes_count }}</p>

  <h3>Comments</h3>
  {% for comment in post.comments.all %}
    <p>{{ comment.author }}: {{ comment.text }}</p>
  {% endfor %}
  {% if user.is_authenticated %}
  <form method="post" action="{% url 'feed:comment-create' pk=post.pk %}">
    {% csrf_token %}
    {{ comment_form|crispy }}
    <button type="submit" class="btn btn-primary">Add comment</button>
  </form>
{% endif %}
{% endblock %}
